<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="Joel Silva Rivera" content="Portfolio">
	<link href="./img/logo.png" rel="icon" sizes="63x63" />

    <title>My Portfolio</title>

    <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>


   <link rel="stylesheet" href="./css/stylesheet.css">
  </head>

<body ng-app="myApp">
<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#bottom">Me</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#who">WHO</a></li>
        <li><a href="#where">WHERE</a></li>
        <li><a href="#example">EXAMPLE</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div id="who" class="container-fluid bg-1 text-center">
  <h2 class="margin">Who Am I?</h2>
  <h3>Joel Silva</h3>
  <p>Computer programming student with a growing interest in web development.</p>
  <p>Studied at Lane Community College, Eugene Oregon<p>
</div>

<!-- Second Container -->
<div id="where" class="container-fluid bg-2 text-center">
  <h2 class="margin">Where to find me?</h2>
  <h3><a href="https://github.com/JSR103" class="color" rel="noopener noreferrer" target="_blank">GitHub</a></h3>
  <h3><a href="https://www.linkedin.com/in/jsr103/" class="color" rel="noopener noreferrer" target="_blank">My LinkedIn</a></h3>
  <h3><a href="http://lanecc.orgsync.com/org/srg" class="color" rel="noopener noreferrer" target="_blank">Lane SRG</a></h3>
  <h3><a href="http://millercustomconstructioninc.azurewebsites.net" class="color" rel="noopener noreferrer" target="_blank">Miller Custom Construction</a></h3>
  <h3><a href="https://github.com/TeamCapstone/MillerConstruction-" class="color" rel="noopener noreferrer" target="_blank">M.C.C GitHub Repo</a></h3>

  <a href="#" class="btn btn-default btn-lg">
    <span class=""></span> Top
  </a>
</div>

<!-- Third Container -->
<div id="example" class="container-fluid bg-3 text-center">
  <h3 class="margin">Angular Example</h3>
  <div class="main" ng-controller="MainController">
      <div class="container">
         <div class="" ng-repeat="app in apps">
         <app-info info="app"></app-info>
        </div>
      </div>
  </div>
    <div class="main" ng-controller="CalculatorController">
      <div class="container">
	  <h3><strong>Simple Calculator</strong></h3>
		      <div><input class="input-style"  type="number" name="myDecimal" placeholder="Enter Number" ng-model="a" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="any"></div>
		      <div><input class="input-style" type="number" name="myDecimal" placeholder="Enter Number" ng-model="b" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="any"></div>
		      <div><select class="input-style" ng-model="operator">
			   <option>+</option>
			   <option>*</option>
			   <option>-</option>
			   <option>/</option>
              </select></div>
              <div><h3>{{result() | number : 2}}</h3></div>
         </div>
      </div>
  </div>
</div>
  <script src="./js/app.js"></script>
  <script src="./js/controllers/MainController.js"></script>
  <script src="./js/controllers/CalculatorController.js"></script>
  <script src="./js/directives/appInfo.js"></script>

</body>
<!-- Footer -->
<footer id="bottom" class="container-fluid bg-4 text-center">
</footer>
</html>
